body {
    background-color:black;
    font-family: Arial;
    color: white;
}
h1{
    font-family: Verdana;
    color:grey;
}
.maindiv {
    margin: auto;
    background-color: white;
    color: black;
    width: max-content;
    padding: 20px;
    border-radius: 25px;
}


